[Unit]
Description=<myapp>
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/<myapp> '__qbckgrndprcss$start#master~' --no-daemon
ExecStop=/usr/bin/<myapp> stop
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
